<nav id="navBar">
  <ul id="nav-ul">
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Home</a>
      <div class="dropdown-content">
        <a routerLink="/home/films/all" (click)="allFilms()">All films</a>
        <a routerLink="/home/films/watched" (click)="watchedFilms()">Watched</a>
        <a routerLink="/home/films/wishlist" (click)="wishListFilms()">Wish list</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Films</a>
      <div class="dropdown-content">
        <a routerLink="/home/films/all" (click)="allFilms()">All films</a>
        <a routerLink="/home/films/watched" (click)="watchedFilms()">Watched</a>
        <a routerLink="/home/films/wishlist" (click)="wishListFilms()">Wish list</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn" routerLink="/home/events">Events</a>
      <div class="dropdown-content">
        <a href="#">All</a>
        <a href="#">Create</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Menu</a>
      <div class="dropdown-content">
        <a href="/home/user">Profilе</a>
        <a routerLink="/home/films">Settings</a>
        <a href="#">Wish list</a>
      </div>
    </li>
    <li class="dropdown">
      <a routerLink="/login">Log out</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>